# Visual Data Analysis of Fraudulent Transactions

Your CFO has also requested detailed trends data on specific card holders. Use the starter notebook to query your database and generate visualizations that supply the requested information as follows, then add your visualizations and observations to your markdown report.

In [14]:
# Initial imports
import pandas as pd
import calendar
import hvplot.pandas
from sqlalchemy import create_engine

In [15]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

## Data Analysis Question 1

The two most important customers of the firm may have been hacked. Verify if there are any fraudulent transactions in their history. For privacy reasons, you only know that their cardholder IDs are 2 and 18.

* Using hvPlot, create a line plot representing the time series of transactions over the course of the year for each cardholder separately. 

* Next, to better compare their patterns, create a single line plot that containins both card holders' trend data.  

* What difference do you observe between the consumption patterns? Does the difference suggest a fraudulent transaction? Explain your rationale in the markdown report.

In [16]:
# loading data for card holder 2 and 18 from the database
# Write the query
query = """
        select cardholder_id, date, amount
        from card_holder as a
        join credit_card as b on a.id = b.cardholder_id
        join transaction as c on b.card = c.card
        where cardholder_id = 2 or cardholder_id = 18
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
carholder_2and18 = pd.read_sql(query, engine)
carholder_2and18.head()

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [ ]:
# Plot for cardholder 2
cardholder_2_plot = carholder_2and18[carholder_2and18['cardholder_id']==2].drop(columns="cardholder_id").hvplot.line(
    x="date",
    y="amount",
    xlabel = "Date",
    ylabel = "Amount",
    title = "Transaction Data for Card Holder ID 2"
)
cardholder_2_plot

In [ ]:
# Plot for cardholder 18
cardholder_18_plot = carholder_2and18[carholder_2and18['cardholder_id']==18].drop(columns="cardholder_id").hvplot.line(
    x="date",
    y="amount",
    xlabel = "Date",
    ylabel = "Amount",
    title = "Transaction Data for Card Holder ID 18"
)
cardholder_18_plot

In [ ]:
# Combined plot for card holders 2 and 18
(cardholder_2_plot * cardholder_18_plot).opts(
    xlabel = "Date", ylabel = "Amount", title = "Transaction Data for Card Holder IDs 2 and 18")

## Data Analysis Question 2

The CEO of the biggest customer of the firm suspects that someone has used her corporate credit card without authorization in the first quarter of 2018 to pay quite expensive restaurant bills. Again, for privacy reasons, you know only that the cardholder ID in question is 25.

* Using hvPlot, create a box plot, representing the expenditure data from January 2018 to June 2018 for cardholder ID 25.

* Are there any outliers for cardholder ID 25? How many outliers are there per month?

* Do you notice any anomalies? Describe your observations and conclusions in your markdown report.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
# Write the query
query = """
         select extract (month from date) as month, extract (day from date) as day, amount
        from card_holder as a
        join credit_card as b on a.id = b.cardholder_id
        join transaction as c on b.card = c.card
        where cardholder_id = 25 and 
        extract (year from date) = 2018 and
        extract (month from date) >= 1 and
        extract (month from date) <= 6
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
cardholder_25 = pd.read_sql(query, engine)
cardholder_25.head()

In [ ]:
# loop to change the numeric month to month names
import datetime
for i in range(0,len(cardholder_25)):
    month_number = str(int(cardholder_25.loc[i, 'month']))
    datetime_object = datetime.datetime.strptime(month_number, "%m")
    full_month_name = datetime_object.strftime("%B")
    cardholder_25.loc[i, 'month'] = full_month_name

In [ ]:
# Creating the six box plots using hvPlot
cardholder_25_box = cardholder_25.drop(columns="day").hvplot.box(
    y="amount", by="month", height=400, width=800, title= "Monthly Data for Card Holder ID 25")
cardholder_25_box